export GIT_URL={{ k3s_platform_flux_env.GIT_URL | quote }}
export GIT_BRANCH={{ k3s_platform_flux_env.GIT_BRANCH | quote }}
export GIT_SOURCE_NAME={{ k3s_platform_flux_env.GIT_SOURCE_NAME | quote }}
export FLUX_NAMESPACE={{ k3s_platform_flux_env.FLUX_NAMESPACE | quote }}
export FLUX_ROOT_PATH={{ k3s_platform_flux_env.FLUX_ROOT_PATH | quote }}

