injector:
  enabled: false
server:
  standalone:
    enabled: false
  dataStorage:
    enabled: true
    size: 8Gi
  ha:
    enabled: true
    replicas: 1
    raft:
      enabled: true
      setNodeId: true
  service:
    enabled: true
