[Unit]
Description={{ xray_exporter_service_description }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ xray_exporter_app_dir }}
EnvironmentFile={{ xray_exporter_env_path }}
ExecStart={{ xray_exporter_binary_path }}
Restart=always
User={{ xray_exporter_user }}
Group={{ xray_exporter_group }}

[Install]
WantedBy=multi-user.target
