XRAY_STATS_URL={{ xray_exporter_stats_url }}
XRAY_STATS_TOKEN={{ xray_exporter_stats_token }}
ACCOUNTS_BASE_URL={{ xray_exporter_accounts_base_url }}
INTERNAL_SERVICE_TOKEN={{ xray_exporter_internal_service_token }}
EXPORTER_NODE_ID={{ xray_exporter_node_id }}
EXPORTER_ENV={{ xray_exporter_env_name }}
SCRAPE_INTERVAL={{ xray_exporter_scrape_interval }}
LISTEN_ADDR={{ xray_exporter_listen_addr }}
