[Unit]
Description={{ agent_svc_plus_service_description }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ agent_svc_plus_data_dir }}
ExecStart={{ agent_svc_plus_binary_path }} -config {{ agent_svc_plus_config_path }}
Restart=always
User={{ agent_svc_plus_user }}
Group={{ agent_svc_plus_group }}

[Install]
WantedBy=multi-user.target
