etcd:
  enabled: {{ k3s_platform_values.components.apisix['values'].etcd.enabled | bool | lower }}
externalEtcd:
  user: {{ k3s_platform_values.components.apisix['values'].externalEtcd.user | to_json }}
ingress-controller:
  enabled: {{ k3s_platform_values.components.apisix['values']['ingress-controller'].enabled | bool | lower }}
dashboard:
  enabled: {{ k3s_platform_values.components.apisix['values'].dashboard.enabled | bool | lower }}
gateway:
  enabled: {{ k3s_platform_values.components.apisix['values'].gateway.enabled | bool | lower }}
  type: {{ k3s_platform_values.components.apisix['values'].gateway.type | to_json }}
control:
  enabled: {{ k3s_platform_values.components.apisix['values'].control.enabled | bool | lower }}
apisix:
  admin:
    enabled: {{ k3s_platform_values.components.apisix['values'].apisix.admin.enabled | bool | lower }}
  deployment:
    mode: {{ k3s_platform_values.components.apisix['values'].apisix.deployment.mode | to_json }}
    role: {{ k3s_platform_values.components.apisix['values'].apisix.deployment.role | to_json }}
    standalone:
      config: |
{{ k3s_platform_values.components.apisix['values'].apisix.deployment.standalone.config | indent(8, true) }}
