provider: {{ k3s_platform_values.components.externalDns.values.provider | to_json }}
policy: {{ k3s_platform_values.components.externalDns.values.policy | to_json }}
registry: {{ k3s_platform_values.components.externalDns.values.registry | to_json }}
txtOwnerId: {{ k3s_platform_values.components.externalDns.values.txtOwnerId | to_json }}
sources:
{{ k3s_platform_values.components.externalDns.values.sources | to_nice_yaml(indent=2) | indent(2, true) }}
domainFilters:
{{ k3s_platform_values.components.externalDns.values.domainFilters | to_nice_yaml(indent=2) | indent(2, true) }}
env:
{{ k3s_platform_values.components.externalDns.values.env | to_nice_yaml(indent=2) | indent(2, true) }}
