ingressController:
  enabled: {{ k3s_platform_values.components.caddy.values.ingressController.enabled | bool | lower }}
ingressClass:
  create: {{ k3s_platform_values.components.caddy.values.ingressClass.create | bool | lower }}
  name: {{ k3s_platform_values.components.caddy.values.ingressClass.name | to_json }}
  default: {{ k3s_platform_values.components.caddy.values.ingressClass.default | bool | lower }}
service:
  type: {{ k3s_platform_values.components.caddy.values.service.type | to_json }}
email: {{ k3s_platform_values.components.caddy.values.email | to_json }}
