{{ xworkmate_bridge_domain }} {
{% if deploy_acp_codex | bool %}
  handle_path /codex* {
    reverse_proxy {{ xworkmate_bridge_codex_upstream_host }}:{{ xworkmate_bridge_codex_upstream_port }}
  }
{% endif %}

{% if deploy_acp_opencode | bool %}
  handle_path /opencode* {
    reverse_proxy {{ xworkmate_bridge_opencode_upstream_host }}:{{ xworkmate_bridge_opencode_upstream_port }}
  }
{% endif %}

{% if deploy_acp_gemini | bool %}
  handle_path /gemini* {
    reverse_proxy {{ xworkmate_bridge_gemini_upstream_host }}:{{ xworkmate_bridge_gemini_upstream_port }}
  }
{% endif %}
}
