{{ '{$SERVED_DOMAINS}' }} {
  encode zstd gzip

  reverse_proxy 127.0.0.1:{{ console_service_port }} {
    header_up Host {host}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote_host}
  }
}
