[Interface]
PrivateKey = {{ xworkmate_bridge_distributed_vpn_wireguard_private_key }}
Address = {{ xworkmate_bridge_distributed_vpn_current_node.wg_ip }}/32
ListenPort = {{ xworkmate_bridge_distributed_vpn_wireguard_port }}
MTU = {{ xworkmate_bridge_distributed_vpn_mtu }}

[Peer]
PublicKey = {{ xworkmate_bridge_distributed_vpn_peer_node.public_key }}
AllowedIPs = {{ xworkmate_bridge_distributed_vpn_peer_node.wg_ip }}/32
Endpoint = 127.0.0.1:{{ xworkmate_bridge_distributed_vpn_local_tproxy_port }}
PersistentKeepalive = {{ xworkmate_bridge_distributed_vpn_persistent_keepalive }}
