IMAGE={{ billing_service_image_ref }}
EXPORTER_BASE_URL={{ billing_service_exporter_base_url }}
EXPORTER_SOURCES_JSON={{ billing_service_exporter_sources_json }}
INTERNAL_SERVICE_TOKEN={{ billing_service_internal_service_token }}
DATABASE_URL={{ billing_service_database_url }}
LISTEN_ADDR={{ billing_service_listen_addr }}
COLLECT_INTERVAL={{ billing_service_collect_interval }}
DEFAULT_REGION={{ billing_service_default_region }}
SOURCE_REVISION={{ billing_service_source_revision }}
PRICE_PER_BYTE={{ billing_service_price_per_byte }}
INITIAL_INCLUDED_QUOTA_BYTES={{ billing_service_initial_included_quota_bytes }}
INITIAL_BALANCE={{ billing_service_initial_balance }}
