[Unit]
Description={{ billing_service_service_description }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ billing_service_app_dir }}
EnvironmentFile={{ billing_service_env_path }}
ExecStart={{ billing_service_binary_path }}
Restart=always
User={{ billing_service_user }}
Group={{ billing_service_group }}

[Install]
WantedBy=multi-user.target
