[Desktop Entry]
Name=Chromium Browser
Comment=Web browser
Exec={{ xfce_chromium_wrapper_path }} %U
Terminal=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
StartupNotify=true
