[Unit]
Description=Run Modern IT History GitHub auto-update

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ modern_it_history_update_interval }}
Unit=modern-it-history-update.service

[Install]
WantedBy=timers.target
