apiVersion: v1
kind: Service
metadata:
  name: {{ vllm_service_name }}
  namespace: {{ vllm_namespace }}
spec:
  type: {{ vllm_service_type }}
  ports:
    - port: {{ vllm_port }}
      targetPort: {{ vllm_port }}
      protocol: TCP
      name: http
  selector:
    app: {{ vllm_service_name }}
