# Managed by Ansible: roles/vhosts/postgresql_service

listen_addresses = '{{ postgresql_service_postgres_conf.listen_addresses }}'
port = {{ postgresql_service_postgres_conf.port }}
max_connections = {{ postgresql_service_postgres_conf.max_connections }}
superuser_reserved_connections = {{ postgresql_service_postgres_conf.superuser_reserved_connections }}

shared_buffers = '{{ postgresql_service_postgres_conf.shared_buffers }}'
effective_cache_size = '{{ postgresql_service_postgres_conf.effective_cache_size }}'
maintenance_work_mem = '{{ postgresql_service_postgres_conf.maintenance_work_mem }}'
work_mem = '{{ postgresql_service_postgres_conf.work_mem }}'

wal_buffers = '{{ postgresql_service_postgres_conf.wal_buffers }}'
min_wal_size = '{{ postgresql_service_postgres_conf.min_wal_size }}'
max_wal_size = '{{ postgresql_service_postgres_conf.max_wal_size }}'
checkpoint_completion_target = {{ postgresql_service_postgres_conf.checkpoint_completion_target }}
wal_compression = {{ postgresql_service_postgres_conf.wal_compression }}

random_page_cost = {{ postgresql_service_postgres_conf.random_page_cost }}
effective_io_concurrency = {{ postgresql_service_postgres_conf.effective_io_concurrency }}
default_statistics_target = {{ postgresql_service_postgres_conf.default_statistics_target }}

log_destination = '{{ postgresql_service_postgres_conf.log_destination }}'
logging_collector = {{ postgresql_service_postgres_conf.logging_collector }}
log_directory = '{{ postgresql_service_postgres_conf.log_directory }}'
log_filename = '{{ postgresql_service_postgres_conf.log_filename }}'
log_rotation_age = '{{ postgresql_service_postgres_conf.log_rotation_age }}'
log_rotation_size = '{{ postgresql_service_postgres_conf.log_rotation_size }}'
log_line_prefix = '{{ postgresql_service_postgres_conf.log_line_prefix }}'
log_timezone = '{{ postgresql_service_postgres_conf.log_timezone }}'

log_checkpoints = {{ postgresql_service_postgres_conf.log_checkpoints }}
log_connections = {{ postgresql_service_postgres_conf.log_connections }}
log_disconnections = {{ postgresql_service_postgres_conf.log_disconnections }}
log_duration = {{ postgresql_service_postgres_conf.log_duration }}
log_lock_waits = {{ postgresql_service_postgres_conf.log_lock_waits }}
log_statement = '{{ postgresql_service_postgres_conf.log_statement }}'
log_temp_files = {{ postgresql_service_postgres_conf.log_temp_files }}
log_min_duration_statement = {{ postgresql_service_postgres_conf.log_min_duration_statement }}

datestyle = '{{ postgresql_service_postgres_conf.datestyle }}'
timezone = '{{ postgresql_service_postgres_conf.timezone }}'
lc_messages = '{{ postgresql_service_postgres_conf.lc_messages }}'
lc_monetary = '{{ postgresql_service_postgres_conf.lc_monetary }}'
lc_numeric = '{{ postgresql_service_postgres_conf.lc_numeric }}'
lc_time = '{{ postgresql_service_postgres_conf.lc_time }}'
default_text_search_config = '{{ postgresql_service_postgres_conf.default_text_search_config }}'
