foreground = yes
debug = 5

[{{ postgresql_service_stunnel_service_name }}]
accept = 0.0.0.0:{{ postgresql_service_stunnel_accept_port }}
connect = {{ postgresql_service_postgres_container_name }}:5432
verify = {{ postgresql_service_stunnel_verify_level }}
cert = /etc/stunnel/certs/server-cert.pem
key = /etc/stunnel/certs/server-key.pem
