LITELLM_MASTER_KEY={{ litellm_master_key }}
LITELLM_SALT_KEY={{ litellm_salt_key }}
UI_USERNAME={{ litellm_ui_username }}
UI_PASSWORD={{ litellm_ui_password }}
LITELLM_DB_PASSWORD={{ litellm_database_password }}
{% if litellm_database_url | trim | length > 0 %}
DATABASE_URL={{ litellm_database_url }}
{% endif %}
PYTHONPATH={{ litellm_service_home }}/.local/lib/python3.12/site-packages
STORE_MODEL_IN_DB=True
