{{ litellm_ui_domain }} {
    encode zstd gzip

    # ------------------------------------------------------------------------
    # Admin UI
    # ------------------------------------------------------------------------
{% if litellm_enable_basic_auth %}
    basicauth {
        {{ litellm_basic_auth_username }} {{ litellm_basic_auth_password_hash }}
    }
{% endif %}

    reverse_proxy {{ litellm_listen_host }}:{{ litellm_listen_port }} {
        flush_interval -1
    }

    log {
        output file /var/log/caddy/{{ litellm_ui_domain }}.access.log
    }
}
