{{ acp_vhosts_domain }} {
  handle_path /codex* {
    reverse_proxy {{ acp_vhosts_codex_upstream_host }}:{{ acp_vhosts_codex_upstream_port }}
  }

  handle_path /opencode* {
    reverse_proxy {{ acp_vhosts_opencode_upstream_host }}:{{ acp_vhosts_opencode_upstream_port }}
  }
}
